.navbar {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto en color blanco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  /* Estilo de los enlaces en la barra de navegación */
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s; /* Transición de color al pasar el mouse */
  }
  
  .navbar a:hover {
    color: #00f; /* Cambia el color al pasar el mouse */
  }
  